<h3>Find By UserId</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="userId">User ID</label>
      <input type="text" class="form-control" id="userId" required [(ngModel)]="userId" name="userId">
    </div>
 
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<ul>
<li *ngIf="user">
    <h4>{{user.userId}} - {{user.firstName}} {{user.lastName}} - {{user.myLocation}}</h4>
  </li>
</ul>